/* 重置样式 */
html { overflow-y: scroll; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li, pre,fieldset, lengend, button, input, textarea,th, td {
    margin: 0;
    padding: 0;

}
body,button, input, select, textarea { 
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; 
}
h1 { font-size: 18px;  }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
ul, ol { list-style: none; }
a { text-decoration: none; }
img { border: none; } 
.clear{
	clear: both;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu,main{display:block}

header{
	width: 1000px;
	height: 141px;
	margin: 0 auto;
	position:relative;
}
header h1{
	float: left;
	width: 320px;
	margin-top: 20px
}
header h1 img{

}
.headRight{
  float: right;	
}
.search {
  height: 26px;
  line-height: 26px;
  margin-top: 20px;
  text-align: right;
}
.search form input {
  height: 24px;
  width: 160px;
  border: solid 1px #f2f2f2;
  line-height: 24px;
  outline:none;
  color:#666;
  padding:0;
  background:transparent;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  text-indent:12px;
  -webkit-transition:width 0.5s;  
}
.search form input:focus{
    width:240px;
}
.search form button {
  text-align: center;
  height: 25px;
  line-height: 25px;
  width: 39px;
  border: none;
  margin-left: 6px;
  background: #f2f2f2;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
}

/*导航条*/
nav{
	width:100%;
	height: 31px;
	position:absolute;
	bottom:10px;
	left:0;
	background: url(../images/nav.png) repeat-x center center;
	text-align:center;
}
nav>ul{margin-left:40px;}
nav>ul>li{
	width: 81px;
	height: 31px;
	line-height: 40px;
	text-align: center;
	float: left;
	position: relative;
	z-index: 999;
	margin:0 5px;
}
nav>ul>li a{
	font: 15px/30px "微软雅黑";
	color: #333;
	display: block;
	background: url(../images/navBgs.png) no-repeat center top;
}
nav>ul>li a:hover{
	background: url(../images/navBg.png) no-repeat center top;
	color: #fff;
}

/*主体*/
main{
	width: 1000px;
	margin: 0 auto;
}
.banner{
	width: 1000px;
	height:327px;
	margin-bottom:20px;
	position: relative;	
	overflow: hidden;	
}
banner img{
	width: 162px;
	height: 45px;
	position: absolute;
	bottom: -45px;
	-webkit-animation: loading 3s ease-in-out infinite;
	-moz-animation: loading 3s ease-in-out infinite;
	-o-animation: loading 3s ease-in-out infinite;
	animation: loading 3s ease-in-out infinite;
}
/*第一排*/
.part1{ width:1000px; margin:0 auto;}
.part1>ul>li{
	float: left;
}
.newsLeft{
	width: 270px;
	height: 200px;
	position: relative;
	float: left;
	overflow:hidden;
	margin-right: 10px;	
}
.photo{
	width: 270px;
	height: 200px;
	position: absolute;
	left: 0;
	top: 0;
}
.photo li{
	display: none;
}
.photo li img{
	width: 270px;
	height: 200px;	
}
.photo li.first{
	display: block;
}
.caption{
	width: 270px;
	height: 30px;
	background: #000;
	opacity: 0.6;
	filter:alpha(opacity=60);
	position:absolute;
	bottom: 0;
	left: 0;
}
.caption li{
	height: 30px;
	line-height: 30px;
	text-indent: 1em;
	display: none;
}
.caption li.selected{
	display: block;
}
.caption li a{
	font: 14px/30px "微软雅黑";
	color: #fff;
}
.dot{
	width: auto;
	height: 16px;
	position: absolute;
    bottom: 6px;
    right: 6px;
	font-size: 0;
	z-index: 999;
}
.dot li{
	width: 16px;
	height: 16px;
	text-align: center;
	background: #fff;
	float: left;
	margin: 0 2px;
	cursor: pointer;
	font-size: 12px;
	line-height: 16px;
}
.dot li.checked{
	background: #f00;
	color: #fff;
}

.title{
	height: 50px;
	margin-bottom: 10px;
}
 .title h2{
	float: left;
	width: auto;
	height: 50px;
	line-height: 50px;
}
 .title h2 a{
	font:20px/50px "微软雅黑";
	color: #f8991d;
	text-align:center;
 }
 .title h2 a:hover{
	color: #ffbe00;	
}
 .title h2  img{
	margin-right: 10px;
 	vertical-align: middle;
 	-webkit-transition: 0.5s;
 	-moz-transition: 0.5s;
 	-ms-transition: 0.5s;
 	-o-transition: 0.5s;
 	transition: 0.5s;
 }
 .title h2:hover  img{
 	-webkit-transform: rotate(-360deg);
 	-moz-transform: rotate(-360deg);
 	-ms-transform: rotate(-360deg);
 	-o-transform: rotate(-360deg);
 	transform: rotate(-360deg);
 }
 .title .more{
	display: block;
	font-family: arial;
	float: right;
	color: #f8991d;	
	line-height: 50px;
	vertical-align: middle;
	font: 12px/50px "微软雅黑";
}	
 .title .more img{
	vertical-align: middle;
	margin-right: 6px;
}
 .title .more:hover {
	color: #ffbe00;
}

.common li {
	height: 32px;
	line-height: 32px;
	border-bottom:1px dotted #c9c9c9;
}
.common li .date,.common li .date2 {
	float: left;
	font-size: 12px;
	color: #777;
}
.gggs .common li {
	height: 54px; line-height: 54px; }
.gggs .date2{
  width: 46px;
  height: 38px;
  margin:8px 10px 0 0;
  float: left;
  text-align: center;
  background: url(../images/dateBg1.png) no-repeat;  
}
.gggs .date2:hover{
  background: url(../images/dateBg.png) no-repeat;
}

.gggs .date2 .time{
  font-size: 16px;
  color: #333;
  font-family: "宋体";
  line-height: 18px;
}

.gggs .date2 .mouth{
  font-size: 12px;
  color: #333;
  font-family: arial;
  line-height: 24px;
}
.gggs  li:hover .date2{
  background: url(../images/dateBg.png) no-repeat;  
}
.gggs li:hover .time{
  color: #fff;
}
.gggs li:hover .mouth{
  color: #f8991d;
}



.common li a {
	width: 262px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #555;
	float: left;
}
.tabContent .common li a{width: 262px;}
.common li a:hover {
	color: #ffbe00;
}
.dateleft{ margin-right:20px;}
.xyxw{
	width:320px; 
	float: left;
}
.xydt{
	width:554px; 
	border: 1px solid #d2d2d2;	
	margin: 0 20px;
}
/*校长寄语*/
.xzjy{
	width:294px;
	float: left;
	margin: 0 20px;
}

.fastlink{ width:200px; }
.fastlink li{ 
    width:200px;
    height: 47px;  
    margin-bottom: 10px;
    text-align: center;
}
.fastlink li a{    padding-left: 20px; font:14px/47px "微软雅黑" ; color:#fff; display:block; }
.fastlink li .f1{background:#8e44ad url(../images/f1.png) no-repeat 20px 10px;}
.fastlink li .f1:hover{background: #11a1ef url(../images/f1s.png) no-repeat 20px 10px;color:#fff;}
.fastlink li .f2{background:#679b00 url(../images/f2.png) no-repeat 20px 13px;}
.fastlink li .f2:hover{background: #11a1ef url(../images/f2s.png) no-repeat 20px 13px;color:#fff;}
.fastlink li .f3{background:#e67f23 url(../images/f3.png) no-repeat 20px 13px;}
.fastlink li .f3:hover{background: #11a1ef url(../images/f3s.png) no-repeat 20px 13px;color:#fff;}
.fastlink  select{
	width:200px;
	height:26px;
}

.part2{
	width: 1000px;
	margin-top: 20px;
}
.yzap{
	border:1px solid #c8c8c8;
	width:318px;
	
}
.tabTitle{
	height: 36px;
	position: relative;
    margin-bottom: 10px;
    border-top: 3px solid #f8991d;	
	padding-left:30px;
	background:url(../images/yzap.png) no-repeat 10px;
}
.tabTitle ul{
	font-size: 0;
}
.tabTitle ul li{
	width: auto;
	font:18px/36px "微软雅黑";
	color: #333;
	float: left;
	padding: 0 10px;
	cursor: pointer;
}
.tabTitle .more{
    width: 50px;
    height: 36px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.tabTitle .more a{
	font:12px/36px "微软雅黑";
	color: #ffbe00;
}
.tabTitle .more a:hover{
	color: #ffbe00;
}
.tabContent{
    width: 298px;
	height: 174px;
	overflow: hidden;
	margin-top: 10px;
	padding:0 10px;
}




/*滚动*/
.album{
	width: 600px;
	float: right;
}
.change{
	overflow:hidden;
	width: 600px;
	height: 170px;
}
.change p{
	width:180px;
	height:26px;
	line-height:26px;
	text-align:center;
	font-size:14px;
	color:#555;

}
.change p:hover{
	background:#fff;
	color:#ffbe00;
}
.link{
	height:36px;
	background:#f0f0f0;
	margin: 20px auto 0;
}
.link ul{
	width:1000px;
	margin: 0 auto 0;
}
.link li{
	height: 36px;
	font: 20px/36px "微软雅黑";
	color: #f8991d;
	float: left;
	margin: 0 20px;
}
.link li a{
	font: 12px/30px "微软雅黑";
	color: #585858;	
}
.link li a:hover{
	color: #f8991d;	
}
footer{
	min-width: 1000px;
	height:80px;
	margin: 0 auto;
	padding: 20px 0 0;
	background:url(../images/footBg.jpg) repeat-x;
}
footer p{
	font: 12px/24px "宋体"; color: #333;
	text-align: center;	
}
.erji {
	width: 1000px;
	margin: auto;
	background:#fff;
}
.erjileft {
	width: 250px;
	float:left;
	height:560px;
	background:url(../images/left2.png) no-repeat;
	
}
.erjileft_title {
	height: 70px;
	line-height: 70px;
	font-size: 20px; 
	font-family:"微软雅黑";
    	text-align: center;
	color: #fff;
}
.menu{width:230px;margin:10px auto 0;overflow:hidden;}
.menu>ul>li {display:block;	line-height: 36px;text-align: center;overflow:visible; border-bottom: 1px solid #CCC;} 
.menu>ul>li>a {display:block;height:36px; 	font-size: 16px; font-family:"微软雅黑";color: #333;height: 36px;line-height: 36px;}	
.menu ul li .active { color:#f39800;}
.menu ul li .inactive { }
.menu ul li ul {background:#f5f5f5; border-top: 1px solid #ccc;}
.menu ul li ul li {display:block;font-size:12px;border-bottom: 1px solid #d6d7dc;}
.menu ul li ul li a {font-size: 14px; color:#666; display:block; -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
.menu ul li ul li a:hover{ color:#fff;background: #f39800; color: #FFF;}
.erjiright{ width:736px; float:right;}
.wei {
	width: 736px;
	height: 34px;
	line-height: 34px;
	border-bottom: 1px solid #333;
	
}
.wei1 {
	float: left;
	width:90px;
	font-size: 16px;
	color: #5f574f;
	font-family: "微软雅黑";
    line-height: 33px; 
	border-bottom:2px solid #32c0cf;
	text-align:center; 
	padding:0px 10px; border-top-left-radius:10px;border-top-right-radius:10px;
	
}
.wei2 {
	text-align:right;
	 padding-left:20px; 
	font-size: 12px; 
	margin-right:10px;
	color:#585858;

}
.wei2 a{color:#585858;}
.rightlist {height:500px;
	padding: 15px;
}
.rightlist ul li {
	height: 28px;
	line-height: 28px;
	background:url(../images/hedian.png) 6px 10px no-repeat;
	border-bottom: 1px dashed #ddd;
	text-indent:20px;
}
.rightlist ul li span {
	float: right;
	font-size: 12px;
	color: #333;
	font-family: "宋体";
}

.rightlist ul li a {
	float:left;
	font-size: 14px;
	color: #666;
	font-family: "宋体";
	background: url(../images/noselect.png) 4px 12px no-repeat;
}
.rightlist ul li a:hover {
	color:#f7931d;
	background: url(../images/selected.png) 10px 12px no-repeat;
}
/* 教师风采*/
.teachers{ padding-top:10px;}
.teachers li{width:220px;display:inline-block;*display:inline;*zoom:1;margin-left:25px;margin-bottom:20px;border-radius:10px;overflow:hidden;}
.teachers li a{display:block;height:250px;width:220px;}	
.teachers li a img{width:220px;height:160px;background:#ccc;}
.teachers li a p.teacher_name{height:30px;line-height:30px;background:#8ea3c4;color:#fff;font-size:16px;font-family:"微软雅黑";width:220px;text-align:center;}
.teachers li a p.teacher_info{height:60px;line-height:28px;background:rgb(225,225,225);padding-left:10px;padding-right:10px;color:#585858;font-size:13px;font-family:"微软雅黑";}


.page {
	width: 640px;
	margin: auto;
	font-family: "宋体";
	font-size: 12px;
	color: #010101;
	text-align: center;
	height: 60px;
	line-height: 30px;
}
.page a {
	color: #010101;
}
.wrapper{ 
	height: auto;
	margin: auto;
	background: #fff;
	width: 1000px;
	border:1px solid #cccccc;
}
.ContentPage{ width:1000px; margin:0 auto; height:auto; background:#ffffff;}
.ContentPage .top{ height:40px; padding-top:20px;border-bottom: 1px solid #666;}
.ContentPage .top p{width:240px; padding-left:40px; background:url(../images/submenuBg.png) 10px 10px no-repeat;  float:left; font:16px/40px "微软雅黑"; color:#333; }
.ContentPage .breadCrumbNav{ float:right; height:40px; background:url(../images/breadCrumbNav.png) 0 10px no-repeat; padding-left:20px; padding-right:10px;}
.ContentPage .breadCrumbNav span{ font:12px/40px "微软雅黑"; color:#333333;}
.ContentPage .breadCrumbNav a{font:12px/40px "微软雅黑"; color:#333333;}
.ContentPage .breadCrumbNav a:hover{ color:#f8991d;}

.words{}
.words .title2{font-size: 14px; text-align:center;font-family: "微软雅黑";font-size:18px; margin-top:10px ; line-height:40px; border:0;}
.words .text2 table{border:1px solid #333; margin:0 auto; border-collapse: collapse;}
.words .text2 th,.words .text2 td{border:1px solid #333;}

.words .source{	font-size: 12px;font-family: "微软雅黑";color: #7f7e7e;text-align: center;height: 22px;line-height: 22px;}
.words .text2{width:966px; margin:auto; font-family: "微软雅黑"; font-size: 14px; color:#585858; line-height:28px;}
.cs_fx {
	width: 900px;
	text-align: center;
	height: 38px;
	margin: auto;
	margin-top:20px;
}
.fx0 {
	width: 260px;
	height: 38px;
	float: left;
}
.fx1 {
	width: 300px;
	height: 38px;
	float: left;
}
.fx2 {
	width: 300px;
	height: 38px;
	float: left;
}
.n1 {
	width: 50px;
	height: 14px;
	background: url(../images/shoucang.png) center no-repeat;
}
.n1:hover {
	width: 50px;
	height: 14px;
	background: url(../images/dshoucang.png) center no-repeat;
}
.n2 {
	width: 50px;
	height: 14px;
	background: url(../images/baocun.png) center no-repeat;
}
.n2:hover {
	width: 50px;
	height: 14px;
	background: url(../images/dbaocun.png) center no-repeat;
}
.n3 {
	width: 50px;
	height: 14px;
	background: url(../images/guanbi.png) center no-repeat;
}
.n3:hover {
	width: 50px;
	height: 14px;
	background: url(../images/dguanbi.png) center no-repeat;
}
.n4 {
	width: 50px;
	height: 14px;
	background: url(../images/dayin.png) center no-repeat;
}
.n4:hover {
	width: 50px;
	height: 14px;
	background: url(../images/ddayin.png) center no-repeat;
}
.words .information{}
.words .information .relevant{height: 24px; border-bottom: 1px solid #c8c8c8;}
.words .information .relevant p{font:16px/24px "宋体";  border-bottom: 1px solid #4f81bc; width:80px; text-align:center; margin-left:40px;}
.words .information ul {width:900px; margin:auto; height:165px; margin-top:10px;}
.words .information ul li { height:28px; border-bottom: 1px dashed #ddd; background:url(../images/hedian.png) 6px 10px no-repeat;}
.words .information ul li a{ font:12px/28px "宋体"; color:#333; padding-left:15px; }
.words .information ul li a:hover{color:#f8991d;}
.words .information ul li span{font:12px/28px "宋体"; color:#333; float:right;}
.words .information ul li a{ font:12px/28px "宋体"; color:#333; padding-left:15px; }
.words .information ul li a:hover{color:#f8991d;}